.loginPage{ margin: 40px auto; text-align: center; align-items: center;justify-content: space-between; gap:50px}
.SignUp,.signIn{border:1px solid #ccc; margin-bottom: 50px;padding: 25px 25px 50px; border-radius: 10px; width: 50%;}
.signIn input{ height: 50px; border-radius: 10px; margin: 50px 0;}
.SignUp input{ height: 50px; border-radius: 10px; margin: 50px 0;}
.chat-screen{margin: 100px 0;}
.chat-screen span{padding: 10px 20px;background: #16d5481f; }
.chat-screen .text-start,.chat-screen .text-end{margin: 30px 0;}
.chat-screen .text-start,.chat-screen .text-end{margin: 30px 0;}
.chat-screen .text-end span{border-radius: 10px 10px 0 10px;}
.chat-screen .text-start span{border-radius: 10px 10px 10px 0;}